
:root {
  --bg-page: #EBF4DD;
  --bg-card: #5A7863;

  --primary: #EBF4DD;
  --secondary: #3B4953;
  --primary-hover: #90AB8B;

  --text-main: #90AB8B;
  --text-muted: #5A7863;
  --text-light: #EBF4DD;

  --border-default: #e2e8f0;
  --border-focus: #2563eb;
  --border-error: #ef4444;

  --error-bg: #fee2e2;
  --error-text: #ef4444;

  --disabled-bg: #cbd5e1;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}